.g {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-right: 15px;
    border: 1px solid navy;
    border-radius: 200px;
    
}
.serif {
    position: relative;
    left: 60px;
    top: 80px;
    z-index: 0;
    font-family: serif;
    font-style: oblique;
    font-weight: 100;
    font-size: 24px;
    color: white;
}
.mono {
    position: relative;
    left: 60px;
    top: 60px;
    z-index: 0;
    font-family: monospace;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    color: white;
}
img {
    position: relative;
    left: 26px;
    top: -60px;
    z-index: -1;
    height: 200px;
    border-radius: 100px;
}